.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Container {
  min-height: 90vh;
}

.Row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Column {
  width: 50%;
}
