html { 
  height:100%;
}
body {
  margin: 0;
  font-size: small;
  color: #4E6E81;
  min-height:100%;
  font-family: sGeneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
